    <div class="row">        
        <div class="col-md-12">
            <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> {{errorMessage}}    
            </div>  
            <div class="card">
                    <div class="card-header">
                        Posts
                    </div>
                    <div class="list-group list-group-flush">
                        <a routerLink="/posts/{{post.id}}" routerLinkActive="active" *ngFor="let post of posts"  class="list-group-item list-group-item-action"> 
                            {{post.postName}}
                        </a>               
                    </div>
            </div>     
        </div>
    </div>         

