<div class="row">
  <div class="col-md-12">
      <div class="post-form">
          <h3>Create Post</h3>
          <form>
            <div class="form-group">
              <label for="name">Post Name</label>
              <input 
                type="text" 
                class="form-control" 
                id="post-name"
                name="postName" 
                autocomplete="off"
                [(ngModel)]="postName" 
                required>
            </div>        
            <div class="form-group">
              <label for="alterEgo">Post Description</label>
              <textarea 
                name="postDescription"
                class="form-control"
                [(ngModel)]="postDescription" 
                autocomplete="off" 
                id="post-description"></textarea>
            </div>  
            <div *ngIf="messageError.length > 0 " class="alert alert-warning alert-dismissible fade show" role="alert">
               <span *ngFor="let message of messageError"><strong>{{message.error}}!</strong></span>               
            </div>     
            <button 
                type="submit"
                (click)="postData()"  
                class="btn btn-success">
                Submit
            </button>        
          </form>        
      </div>
  </div>
</div>
